:root {
  --quaternary: #a3b18aff;
  --tertiary: #588157ff;
  --primary: #3a5a40ff;
  --secondary: #344e41ff;

  --black-800: #171717;

  --back: #dad7cdff;
  --gray-400: #505861;

  --white: #f9f9f9;
}
